body{
    background-color: burlywood;
}
.heading{
    text-align: center;
    font-family: cursive;
    font-size: large;
    margin: 5mm;
}
.container{
    display: flex;
    flex-direction: column;
}
.container2{
    display: flex;
    flex-direction: column;
    margin: 10mm;
    border: 1mm solid black;
    background-color: chocolate;
    padding: 4mm;
    border-radius: 2rem;
}
.apione,.cats,.liqui,.liquicontainer{
    margin: 5mm;
    padding: 5mm;
    border-radius: 2rem;
    background-color: brown;
    color: wheat;
    font-family: cursive;
    font-size: large;
}
.apione:hover,.cats:hover,.liqui:hover{
    opacity: 0.8;
    transition-duration: 0.7s;
    transform:scaleX(0.98);
}
.liquicontainer{
    display: none;
}
.container4{
    display: none;
}
.container2:hover .container4{
    display: block;
}
img{
    padding: 4mm;
}